// Define variables for your color scheme

// For example:
$violet: #8A5082;
$blue: #3C6091;
$rose: #DDC3E1;
$orange: #E67E22;
$dark-orange:#e66322;
$ligth-blue: #AEC5EA;
$gray: #262626;
$light-gray: #F4F4F4;
$ligth-green: #E6EBF0;
$green: #0da561;
//$red: #FD1015;
//$blue: #0D6EFD;
//$yellow: #FFC65A;
//$orange: #E67E22;
//$green: #1EDD88;
//$gray: #262626;
//$light-gray: #F4F4F4;
