// Specific CSS for your home-page
.landing-header {
  font-size: 6.5rem;
  font-weight: 800;
  letter-spacing: -0.2rem;
  line-height: 5.5rem;
  margin-bottom: 0;
}


.slogan {
  font-size: 1.5rem;
}

.mt-8 {
  margin-top: 8rem;
}

.support-text {
  margin-top: 2rem;
  line-height: 1.5rem;
}

.icon-parent {
 position: relative;
}

.mag-icon {
  position: absolute;
  left: 5px;
  bottom: 5px;
  margin-left: 5px;
}

.input-form {
  padding-left: 50px;
  border-radius: 20px;
}

.container-parent {
  position: relative;
}

.blurr-img {
  position: absolute;
  z-index: -1000000000000;
  right: 170px;
  top: 40px;
}

// --------------------------------------------------------------- About section

.about-section {
  background-color: #e6ebf0;
  // background-color: #f9f9f9;
  padding: 5rem;
  position: relative;
  padding-bottom: 10rem;
}

.about-image {
  position: absolute;
  bottom: 120px;
}

.section-title {
  position: absolute;
  top: -40px;
  font-size: 4rem;
  font-weight: 600;
  width: 50px;
  line-height: 3.8rem;
  margin-bottom: 2rem;
}

.features-section {
  margin-top: 6rem;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 0.8rem;
}

.feature-icon-box {
  display:flex;
  justify-content: center;
  align-items: center;
}

.feature-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-description {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.feature-card {
  position: relative;
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  border: 0.5px solid #6f6d6df2;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.features-support {
  max-width: 700px;
}
// --------------------------------------------------------------- Top 25 section
.anime-image {
  height: 200px; /* Adjust the height value as needed */
  object-fit: cover;
}

.top-25-header {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.card-link {
  text-decoration: none;
}
