<h1>User Profile</h1>

<p>Name: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Photo: <%# image_tag(@user_profile.photo) %></p>
<p>Bio: <%= @user_profile.bio %></p>

<%= link_to 'back', root_path %>
