.watchlist-button {
  color: white;
  border: 2px solid purple;
  border-radius: 10px;
}

.btn-search {
  background-color: #000;
  color: aliceblue;
  border-radius: 32px;
  padding: 5px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 630px;
}

 .search-text-field {
  flex-grow: 1;
  margin-right: 10px;
  width: 440px;
  background: #FFFFFF;
  border: 1px solid #0000004a;
  border-radius: 32px;
  padding: 6px;
  padding-left: 24px;
  padding-right: 24px;
 }
