.anime-card {
  width: 280px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 0;
  margin-right: 24px;
  flex-shrink: 0;
  border: 0.5px solid #6f6d6df2;
  border-radius: 16px;
  cursor: pointer;
  transform: scale(1);

  img {
    width: 280px;
    height: 400px;
    object-fit: cover;
  }

  .anime-infos {
    padding: 16px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 0.5px solid #6f6d6df2;
    border-radius: 0 0 16px 16px;
    transition: opacity 0.2s ease;
    opacity: 1;

    h3 {
      font-size: 16px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    .genre {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;

      .rating {
        font-size: 16px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }

      .rating i {
        color: $gray;
      }
    }
  }
}

.animes {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-bottom: content-box !important;
  padding-bottom: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}
