.anime-card {
  width: 326px;
  height: 418px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  scroll-snap-align: start;
  flex-shrink: 0;
  margin-right: 35px;
  padding-bottom: 16px;
  border: $gray solid 0.5px;
  border-radius: 28px 28px 28px 28px;
  cursor: pointer;
  background-color: $violet;

  img {
    width: 326px;
    height: 342px;
    object-fit: cover;
  }

  .anime-infos {
    padding: 16px;
    padding-right: 16px;
    color: $light-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: $gray solid 0.5px;

    h2 {
      font-size: 16px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-shadow: 0 0 2px $gray;
      word-wrap: break-word;


      &:after {
        content: '';
        flex-grow: 1;
      }
    }

    .year {
      align-self: flex-end;
      padding-right: 10px;
    }
  }
}

.animes {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-bottom: content-box !important;
  padding: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}
