
.lg-card {
  width: 326px;
  height: 418px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex-shrink: 0;
  background-color: #E6EBF0;
  padding-bottom: 16px;
  position: relative;
  border: 0.5px solid $gray;
  border-radius: 100px 28px 28px 28px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.lg-card:hover {
  transform: scale(1.05);
}

.lg-card img {
  width: 326px;
  height: 418px;
  object-fit: cover;
}

.lg-card .lg-card-infos {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  padding-top: 32px;
  padding-bottom: 16px;
  background-color: $blue;
  color: $light-gray;
  border-left: 0.5px solid $gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.lg-card .lg-card-infos h2 {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  transform-origin: top right;
  writing-mode: vertical-lr;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
  text-shadow: 0 0 2px $gray;
}

.lg-card .lg-card-infos h2::before {
  content: "\2606 \2606";
  margin-bottom: 20px;
  color: white;
  text-shadow: 0 0 2px $gray;
}
