.lg-card {
  width: 326px;
  height: 418px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex-shrink: 0;
  background-color: $blue;
  padding-bottom: 16px;
  border: 0.5px solid $gray;
  border-radius: 28px 28px 28px 28px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 326px;
    height: 342px;
    object-fit: cover;
  }

  .lg-card-infos {
    padding: 16px;
    padding-right: 16px;
    color: $light-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: $gray solid 0.5px;

    h2 {
      font-size: 16px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-shadow: 0 0 2px $gray;
      word-wrap: break-word;


      &:after {
        content: '';
        flex-grow: 1;
      }
    }

    .year {
      align-self: flex-end;
      padding-right: 10px;
    }
  }
}
