.review-container {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.review-info {

  display: flex;
  align-items: center;
}

.user-photo,
.username,
.rating,
.date {
  margin-right: 10px;
}
  .reviews-list {
  margin-left: 100px;
  margin-right: 100px;
}

.user-photo {
  border: 0.5px solid #6f6d6df2;
}

h5 {
  text-transform: capitalize;
}
 .my-content {
  font-weight: 400;
  margin-top: 16px;
 }

 .rating {
  color: #CEE03D;
 }
